%% vim: ft=erlang
{deps_dir, "lib"}.

{deps, [
        {jsxn, ".*", {git, "https://github.com/talentdeficit/jsxn.git", "HEAD"}}
        ,{logger, ".*", {git, {env, skuapso}, "HEAD"}}
        ,{hooks, ".*", {git, {env, skuapso}, "HEAD"}}
        ,{egts,  ".*", {git, {env, skuapso}, "HEAD"}}
        ,{replica, ".*",{git,{env, skuapso}, "HEAD"}}
        ,{psql,  ".*", {git, {env, skuapso}, "HEAD"}}
       ]}.
